# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Large data files
data/FULL ESIS.csv
*.csv
*.xlsx
!mortgage-analysis-tool/*.csv
!mortgage-analysis-tool/*.xlsx
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/ 